depend
gnr
*.o
*.pyc
results/**/job*
results/**/*.csv
results/**/*.ics
results/**/*.csvv
results/**/*.gif
results/**/*.gl2
results/**/*.glo
results/**/*.out
results/**/*.png
results/**/*.txt
resultsold/
final/
final_link
charts/*.png
